config SHIELD_KEYATURA_LEFT
    def_bool $(shields_list_contains,keyatura_left)

config SHIELD_KEYATURA_RIGHT
    def_bool $(shields_list_contains,keyatura_right)

config SHIELD_KEYATURA_DONGLE
    def_bool $(shields_list_contains,keyatura_shield)