#include <input/processors.dtsi>
#include "keyatura-layouts.dtsi"
#include "keyatura.dtsi"

&trackball_listener {
    status = "okay";
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    }; 

    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

};
